/moc_qmlshadersplugin_plugin.o
/moc_shadereffect.o
/moc_shadereffectitem.o
/moc_shadereffectsource.o
/qmlshadersplugin_plugin.o
/qsggeometry.o
/shadereffect.o
/shadereffectbuffer.o
/shadereffectitem.o
/shadereffectsource.o
