/Qt3Support.pc
/QtCLucene.pc
/QtCore.pc
/QtDBus.pc
/QtDeclarative.pc
/QtDesigner.pc
/QtDesignerComponents.pc
/QtGui.pc
/QtHelp.pc
/QtMeeGoGraphicsSystemHelper.pc
/QtMultimedia.pc
/QtNetwork.pc
/QtOpenGL.pc
/QtOpenVG.pc
/QtScript.pc
/QtScriptTools.pc
/QtSql.pc
/QtSvg.pc
/QtTest.pc
/QtUiTools.pc
/QtWebKit.pc
/QtXml.pc
/QtXmlPatterns.pc
