/ui_connectdialog.h
/ui_deviceprofiledialog.h
/ui_formwindowsettings.h
/ui_itemlisteditor.h
/ui_newdynamicpropertydialog.h
/ui_paletteeditor.h
/ui_previewwidget.h
/ui_stringlisteditor.h
/ui_tablewidgeteditor.h
/ui_templateoptionspage.h
/ui_treewidgeteditor.h
