/main.moc
/moc_batchtranslationdialog.cpp
/moc_errorsview.cpp
/moc_finddialog.cpp
/moc_formpreviewview.cpp
/moc_mainwindow.cpp
/moc_messageeditor.cpp
/moc_messageeditorwidgets.cpp
/moc_messagehighlighter.cpp
/moc_messagemodel.cpp
/moc_phrase.cpp
/moc_phrasebookbox.cpp
/moc_phrasemodel.cpp
/moc_phraseview.cpp
/moc_recentfiles.cpp
/moc_sourcecodeview.cpp
/moc_statistics.cpp
/moc_translatedialog.cpp
/moc_translationsettingsdialog.cpp
