/libQAxContainer.prl
/libQAxServer.prl
/libQt3Support.la
/libQt3Support.prl
/libQtCLucene.la
/libQtCLucene.prl
/libQtCLucene.so
/libQtCLucene.so.4
/libQtCLucene.so.4.8
/libQtCLucene.so.4.8.7
/libQtCore.la
/libQtCore.prl
/libQtCore.so
/libQtCore.so.4
/libQtCore.so.4.8
/libQtCore.so.4.8.7
/libQtDBus.la
/libQtDBus.prl
/libQtDeclarative.la
/libQtDeclarative.prl
/libQtDeclarative.so
/libQtDeclarative.so.4
/libQtDeclarative.so.4.8
/libQtDeclarative.so.4.8.7
/libQtDesigner.prl
/libQtDesigner.so
/libQtDesigner.so.4
/libQtDesigner.so.4.8
/libQtDesigner.so.4.8.7
/libQtDesignerComponents.prl
/libQtDesignerComponents.so
/libQtDesignerComponents.so.4
/libQtDesignerComponents.so.4.8
/libQtDesignerComponents.so.4.8.7
/libQtGui.la
/libQtGui.prl
/libQtGui.so
/libQtGui.so.4
/libQtGui.so.4.8
/libQtGui.so.4.8.7
/libQtHelp.la
/libQtHelp.prl
/libQtHelp.so
/libQtHelp.so.4
/libQtHelp.so.4.8
/libQtHelp.so.4.8.7
/libQtMeeGoGraphicsSystemHelper.la
/libQtMeeGoGraphicsSystemHelper.prl
/libQtMultimedia.la
/libQtMultimedia.prl
/libQtMultimedia.so
/libQtMultimedia.so.4
/libQtMultimedia.so.4.8
/libQtMultimedia.so.4.8.7
/libQtNetwork.la
/libQtNetwork.prl
/libQtNetwork.so
/libQtNetwork.so.4
/libQtNetwork.so.4.8
/libQtNetwork.so.4.8.7
/libQtOpenGL.la
/libQtOpenGL.prl
/libQtOpenGL.so
/libQtOpenGL.so.4
/libQtOpenGL.so.4.8
/libQtOpenGL.so.4.8.7
/libQtOpenVG.la
/libQtOpenVG.prl
/libQtRemote.prl
/libQtScript.la
/libQtScript.prl
/libQtScript.so
/libQtScript.so.4
/libQtScript.so.4.8
/libQtScript.so.4.8.7
/libQtScriptTools.la
/libQtScriptTools.prl
/libQtScriptTools.so
/libQtScriptTools.so.4
/libQtScriptTools.so.4.8
/libQtScriptTools.so.4.8.7
/libQtSql.la
/libQtSql.prl
/libQtSql.so
/libQtSql.so.4
/libQtSql.so.4.8
/libQtSql.so.4.8.7
/libQtSvg.la
/libQtSvg.prl
/libQtTest.la
/libQtTest.prl
/libQtTest.so
/libQtTest.so.4
/libQtTest.so.4.8
/libQtTest.so.4.8.7
/libQtUiTools.a
/libQtUiTools.prl
/libQtWebKit.la
/libQtWebKit.prl
/libQtWebKit.so
/libQtWebKit.so.4
/libQtWebKit.so.4.9
/libQtWebKit.so.4.9.4
/libQtXml.la
/libQtXml.prl
/libQtXml.so
/libQtXml.so.4
/libQtXml.so.4.8
/libQtXml.so.4.8.7
/libQtXmlPatterns.la
/libQtXmlPatterns.prl
/libpvrQWSWSEGL.prl
