/cpp.o
/ioutils.o
/java.o
/main.o
/merge.o
/numerus.o
/po.o
/profileevaluator.o
/profileparser.o
/proitems.o
/qdeclarative.o
/qdeclarativejsast.o
/qdeclarativejsastvisitor.o
/qdeclarativejsengine_p.o
/qdeclarativejsgrammar.o
/qdeclarativejslexer.o
/qdeclarativejsparser.o
/qm.o
/qph.o
/qscript.o
/simtexth.o
/translator.o
/translatormessage.o
/ts.o
/ui.o
/xliff.o
