/batchtranslationdialog.o
/errorsview.o
/finddialog.o
/formpreviewview.o
/globals.o
/main.o
/mainwindow.o
/messageeditor.o
/messageeditorwidgets.o
/messagehighlighter.o
/messagemodel.o
/moc_batchtranslationdialog.o
/moc_errorsview.o
/moc_finddialog.o
/moc_formpreviewview.o
/moc_mainwindow.o
/moc_messageeditor.o
/moc_messageeditorwidgets.o
/moc_messagehighlighter.o
/moc_messagemodel.o
/moc_phrase.o
/moc_phrasebookbox.o
/moc_phrasemodel.o
/moc_phraseview.o
/moc_recentfiles.o
/moc_sourcecodeview.o
/moc_statistics.o
/moc_translatedialog.o
/moc_translationsettingsdialog.o
/numerus.o
/phrase.o
/phrasebookbox.o
/phrasemodel.o
/phraseview.o
/po.o
/printout.o
/qm.o
/qph.o
/qrc_linguist.o
/recentfiles.o
/simtexth.o
/sourcecodeview.o
/statistics.o
/translatedialog.o
/translationsettingsdialog.o
/translator.o
/translatormessage.o
/ts.o
/xliff.o
