/appfontdialog.o
/assistantclient.o
/fontpanel.o
/main.o
/mainwindow.o
/moc_appfontdialog.o
/moc_fontpanel.o
/moc_mainwindow.o
/moc_newform.o
/moc_preferencesdialog.o
/moc_qdesigner.o
/moc_qdesigner_actions.o
/moc_qdesigner_appearanceoptions.o
/moc_qdesigner_formwindow.o
/moc_qdesigner_server.o
/moc_qdesigner_toolwindow.o
/moc_qdesigner_workbench.o
/moc_saveformastemplate.o
/moc_versiondialog.o
/newform.o
/preferencesdialog.o
/qdesigner.o
/qdesigner_actions.o
/qdesigner_appearanceoptions.o
/qdesigner_formwindow.o
/qdesigner_server.o
/qdesigner_settings.o
/qdesigner_toolwindow.o
/qdesigner_workbench.o
/qrc_designer.o
/qrc_qttoolbardialog.o
/qttoolbardialog.o
/saveformastemplate.o
/versiondialog.o
