/moc_qabstractvideosurface.o
/moc_qaudioengine.o
/moc_qaudioengineplugin.o
/moc_qaudioinput.o
/moc_qaudiooutput.o
/qabstractvideobuffer.o
/qabstractvideosurface.o
/qaudio.o
/qaudiodevicefactory.o
/qaudiodeviceinfo.o
/qaudioengine.o
/qaudioengineplugin.o
/qaudioformat.o
/qaudioinput.o
/qaudiooutput.o
/qimagevideobuffer.o
/qmemoryvideobuffer.o
/qvideoframe.o
/qvideosurfaceformat.o
