/qrc_ClamshellPhone.cpp
/qrc_PortableMedia.cpp
/qrc_S60-QVGA-Candybar.cpp
/qrc_S60-nHD-Touchscreen.cpp
/qrc_SmartPhone.cpp
/qrc_SmartPhone2.cpp
/qrc_SmartPhoneWithButtons.cpp
/qrc_TouchscreenPhone.cpp
/qrc_findwidget.cpp
/qrc_qtgradienteditor.cpp
/qrc_shared.cpp
